# Python
__pycache__/
*.py[cod]
backend/venv/
*$py.class
*.so
.Python
env/
venv/
ENV/
backend/venv/
backend/env/
*.db
*.sqlite3

# Environments
.env
.env.*
backend/.env
backend/.env.*
.venv

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
